html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open-Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 20px;
}
@media screen and (max-width: 1280px) {
  .container {
    padding: 20px 15px;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}

.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger {
  display: none;
}
@media screen and (max-width: 992px) {
  .hamburger {
    display: inline-block;
  }
}

@media screen and (max-width: 992px) {
  .nav.is-active {
    transform: translateX(0);
  }
}
.header {
  background: #f2f2f2;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__title {
  font-size: 18px;
  color: #313131;
}

@media screen and (max-width: 992px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 212, 69, 0.774);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.4s linear;
  }
}

.nav__link {
  margin-left: 50px;
  font-size: 18px;
  color: #313131;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .nav__link {
    color: white;
    font-size: 32px;
    margin-left: 0;
    margin-bottom: 20.8px;
  }
}

@media screen and (max-width: 455px) {
  .buttons {
    text-align: right;
  }
}

.buttons__item {
  padding: 15px 40px;
  background-color: #49ad09;
  border-radius: 5px;
  border: 2px solid #49ad09;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 320px) {
  .buttons__item {
    padding: 10px 25px;
  }
}

.buttons__control {
  background-color: transparent;
  color: #313131;
  border: transparent;
}

.img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .img {
    display: none;
  }
}

.post {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 200px;
}
@media screen and (max-width: 455px) {
  .post {
    display: flex;
    justify-content: center;
  }
}

.info {
  max-width: 500px;
  text-align: center;
}

.info__title {
  font-size: 78px;
  letter-spacing: -0.05em;
  color: #313131;
}
@media screen and (max-width: 992px) {
  .info__title {
    font-size: 40px;
  }
}

.info__color {
  color: #49ad09;
}

.info__text {
  font-size: 18px;
  text-align: center;
  color: #514040;
}

.info__link {
  text-decoration: none;
  color: #514040;
  margin-left: 20px;
  border-bottom: 2px solid black;
}

.companys {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .companys {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .svg__img {
    margin-bottom: 20px;
  }
}

.wrapper {
  text-align: center;
  margin-top: 200px;
}

.wrapper__title {
  font-size: 45px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  gap: 40px;
  padding-top: 50px;
}
@media screen and (max-width: 600px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
}

.card {
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
  border-radius: 5px;
  padding: 30px;
}

.card--green {
  background: rgba(73, 173, 9, 0.15);
}

.card--grey {
  background: #e4dfdf;
}

.card--dark {
  background: #313131;
  color: white;
}

.card__flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__link {
  text-decoration-line: underline;
  color: #49ad09;
}

.link--dark {
  color: black;
}

.link--white {
  color: white;
}

.card__img {
  width: 28px;
  height: 28px;
}

.end {
  margin-top: 80px;
  text-align: center;
}

.end__button {
  padding: 20px 105px;
  background-color: #49ad09;
  border-radius: 5px;
  border: 2px solid #49ad09;
  font-size: 18px;
  color: #fff;
  margin-bottom: 200px;
}

/*# sourceMappingURL=style.css.map */
